* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #f9f9f9;
  color: black;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #daccdd;
  border-radius: 30px;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #090909;
  text-decoration: none;
  font-weight: 600;
  font-size: 50px;
  color: rgb(145, 141, 141);
  background-color: transparent;
}
.navbar {
  background-color: transparent;
}

.navbar a {
  display: inline-block;
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.1s;
  background-color: transparent;
}

.navbar a:hover {
  color: rgb(123, 122, 121);
  border-bottom: 3px solid black;
}

 

/* -------------------------------------------------------------------------------end of header-------start of home------------------------------------------------ */
.home-content {
  width: 80%;
  height: 80%;
  padding-top: 300px;
  margin-left: 350px;
}

.home-content h2 {
  font-size: 40px;
  margin: 0 0 15px 0;
}

.home-content h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.home-content p {
  font-weight: 700;
}
.home-sci img {
  height:70%;
  width: 70%;
  margin-top: 110px;
  margin-left: 150px;
  margin-right: 30px;
  border-radius: 20%;
  margin-right: 100px;
}
.home-content ul {
  margin-top: 15px;
}
.home-content ul i {
  font-size: 20px;
}
#home {
  display: flex;
}

.fa-linkedin {
  color: aqua;
  font-size: 10px;
}
.fa-facebook {
  color: blue;
}
.fa-instagram {
  color: orange;
}
.fa-twitter {
  color: rgb(94, 155, 182);
}
.home-sci img {
  animation: upDown 1.5s ease-in-out infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content button {
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(163, 192, 163);
  border-radius: 10px;
  border: none;
  transition: 0.5s;
}
.home-content button:hover {
  background-color: rgb(132, 101, 101);
  color: white;
}

/* ---------------------------------------end of home section and start of about section----------------------------------- */

#about {
  height: 100vh;
}
.textabout {
  color: rgb(23, 23, 23);
  padding-top: 250px;
  margin-left: 150px;
  width: 500px;
  line-height: 25px;
}
.textabout h1 {
  margin-bottom: 20px;
}
.textabout h3 {
  font-weight: 500;
  margin-bottom: 10px;
}
.textabout button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(214, 212, 210);
  border: none;
  transition: 0.5s;
}

.textabout button:hover {
  background-color: rgb(163, 148, 175);
}
.textabout button a {
  text-decoration: none;
  color: rgb(7, 7, 7);
}



/* --------------------------------------------------------------------------------------------my-skill-------------------------------------------------------------------------- */

#skill {
  height: 100vh;
}
#skill h1 {
  margin-left: 46%;
  margin-bottom: 20px;
  position: relative;
  top: 100px;
}
.container {
  position: relative;
  left: 30px;
  height: auto;
  display: inline-block;
  width: 60%;
  background-color: rgb(251, 244, 240);
  padding: 80px;
  border-radius: 50px;
  margin-left: 18%;
  margin-top: 120px;
  cursor: pointer;
}
.container h2 {
  padding-bottom: 40px;
}

.technical-bar {
  height: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(224, 211, 194);
  position: relative;
}
.col {
  background-color: blueviolet;
}

.html {
  height: 100%;
  width: 80%;
  border-radius: 10px;
}
.num {
  width: 35px;
  height: 25px;
  position: absolute;
  left: 79%;
  bottom: 15px;
  padding: auto;
  border-radius: 5px;
  background-color: rgb(217, 181, 181);
}
.css {
  height: 100%;
  width: 60%;
  border-radius: 10px;
}
.num1 {
  width: 35px;
  height: 25px;
  position: absolute;
  left: 60%;
  bottom: 15px;
  padding: auto;
  border-radius: 5px;
  background-color: rgb(217, 181, 181);
}

.javascript {
  height: 100%;
  width: 75%;
  border-radius: 10px;
}
.num2 {
  width: 35px;
  height: 25px;
  position: absolute;
  left: 75%;
  bottom: 15px;
  padding: auto;
  border-radius: 5px;
  background-color: rgb(217, 181, 181);
}

.react {
  height: 100%;
  width: 89%;
  border-radius: 10px;
}
.num3 {
  width: 35px;
  height: 25px;
  position: absolute;
  left: 89%;
  bottom: 15px;
  padding: auto;
  border-radius: 5px;
  background-color: rgb(217, 181, 181);
}

.node-js {
  height: 100%;
  width: 87%;
  border-radius: 10px;
}
.num4 {
  width: 35px;
  height: 25px;
  position: absolute;
  left: 87%;
  bottom: 15px;
  padding: auto;
  border-radius: 5px;
  background-color: rgb(217, 181, 181);
}

/* --------------------------------------------------our-services--------------------------- */

#our-services {
  height: 100vh;
}

.header-ourServices {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
}
.header-ourServices h1 {
  border-bottom: 2px solid rgb(118, 98, 139);
}

.container-ourService {
  width: 90%;
  height: 40%;
  margin: auto;
  margin-top: 120px;
}

.container-1-2-3 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* ------------------container-1-----------------*/

.container-ourservice1 {
  height: 500px;
  width: 30%;
  display: inline-block;
  background-color: #e7edf7;
  border-radius: 20px;
}
.container-ourservice1 h2 {
  text-align: center;
  margin-top: 20px;
}
.container-ourservice1 p {
  text-align: center;
  width: 90%;
  margin: auto;
}
.container-ourservice1 img {
  width: 150px;
  margin-left: 30%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.container-ourservice1 button {
  margin-top: 52px;
}

/* ---------------------container-2  ------------------ */

.container-ourservice2 {
  height: 500px;
  width: 30%;
  display: inline-block;
  background-color: #e7edf7;
  border-radius: 20px;
}
.container-ourservice2 h2 {
  text-align: center;
  margin-top: 20px;
}
.container-ourservice2 img {
  width: 300px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 55px;
  border-radius: 20px;
}
.container-ourservice2 p {
  text-align: center;
  width: 90%;
  margin: auto;
}
.container-ourservice2 button {
  margin-top: 20px;
}
/* ---------------container 3 ------------------------ */

.container-ourservice3 {
  height: 500px;
  width: 30%;
  display: inline-block;
  background-color: #e7edf7;
  border-radius: 20px;
}
.container-ourservice3 h2 {
  text-align: center;
  margin-top: 20px;
}
.container-ourservice3 button {
  margin-top: 0px;
}

.container-ourservice3 img {
  width: 200px;
  margin: 50px 0 0 110px;
  border-radius: 20px;
}
.container-1-2-3 button {
  padding: 5px;
  border-radius: 10px;
  margin-left: 40%;
  background-color: rgb(203, 233, 223);
  border: none;
  cursor: pointer;
}

.container-ourservice3 p {
  text-align: center;
  margin-top: 40px;
}

/* ------------------------container 1 2 3 hover------------------------- */

.container-ourservice1:hover,
.container-ourservice2:hover,
.container-ourservice3:hover {
  width: 30%;

  border: 2px solid rgb(33, 172, 241);
  cursor: pointer;
  box-sizing: content-box;
}

.container-1-2-3 button:hover {
  color: rgb(208, 180, 235);
  background-color: rgb(61, 57, 57);
}

/*                 - ---------------------------------------------------------------------------------------LATEST PROJECT -------------------------------------------------------------------- */

#latest-project {
  height: 130vh;
  margin-top: 60px;
}

/* --------------------header--------------------------- */
#latest-project h1 {
  text-align: center;
  color: rgb(53, 112, 87);
}

.container-latest_project img {
  width: 90%;
  margin: 0 17px;
}

/* ----------------------container----------------------- */

.container-latest_project {
  width: 80%;
  height: 600px;
  margin: auto;
  position: relative;
  top: 50px;
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
}
/* ---------------latest project buttons ------------------ */

.container-latest_project button {
  padding: 10px;
  border-radius: 20px;
  background-color: #c9b7d8;
  border: none;
  box-shadow: 0 0 4px #9f78a8;
}
.container-latest_project button:hover {
  background-color: rgb(139, 5, 166);
  cursor: pointer;
  color: rgb(249, 245, 242);
}

/*  -------- latest project cards ------------------------- */
.lpc {
  width: 30%;
  height: 400px;
  border-radius: 25px;
  background-color: rgb(247, 244, 247);
 box-shadow: 
  2px 2px 2px 2px hsl(0, 3%, 82%),
  -2px -2px 2px 2px hsl(0, 2%, 66%);
  transition: border .1s;
}

.lpc:hover {
  border: 3px solid rgb(125, 121, 121);
}
/* -------------------------------------project section container 1-------------------------------------- */

.latest-project-container1 img {
  height: 200px;
  border-radius: 20px;
  margin-top: 10px;
}
.latest-project-container1 h3,
.latest-project-container1 p {
  text-align: center;
  margin-top: 15px;
}
.latest-project-container1 button {
  margin-left: 37%;
}

/* --------------------------------------project section container 2---------------------------- */
.latest-project-container2 h3 {
  text-align: center;
  margin: 15px 0 10px 0;
  color: rgb(176, 45, 28);
}

.latest-project-container2 img {
  height: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.latest-project-container2 p {
  text-align: center;
}

.latest-project-container2 button {
  margin-left: 37%;
  margin-top: 14px;
}
/* -------------------------------project section container 3------------------------------------ */

.latest-project-container3 h3 {
  text-align: center;
  margin: 20px 0 10px;
}

.latest-project-container3 img {
  height: 200px;
  border-radius: 20px;
}

.latest-project-container3 p {
  margin: 20px 0 0 0;
  text-align: center;
}
.latest-project-container3 button {
  margin-left: 37%;
  margin-top: 10px;
}

/* ------------------------projecct section container 4---------------------- */

.latest-project-container4 h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px auto;
  text-align: center;
}

.latest-project-container4 img {
  border-radius: 20px;
  height: 200px;
}

.latest-project-container4 p {
  text-align: center;
  margin: 10px 0 0 0;
}

.latest-project-container4 button {
  margin: 20px 37%;
}

/* -----------------project container 5-------------------------- */

.latest-project-container5 h3 {
  margin: 10px 0 10px 0;
  text-align: center;
}

.latest-project-container5 img {
  border-radius: 20px;
  height: 200px;
}

.latest-project-container5 p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.latest-project-container5 button {
  margin-left: 37%;
}

/* -------------------------------project container 6---------------------- */

.latest-project-container6 h3 {
  text-align: center;
  margin: 10px 0 10px 0;
}

.latest-project-container6 img {
  border-radius: 20px;
  height: 200px;
}
.latest-project-container6 p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 13px;
}
.latest-project-container6 button {
  margin-left: 37%;
}

/* ------------------------------------------------contact section----------------------------------------------------- */

#contact {
  height: 120vh;
}

#contact {
  max-width: 900px;
  height: 800px;
  margin: 60px auto;
  text-align: center;
  padding-top: 160px;
}

.contact h1 {
  text-align: center;
  padding: 20px;
}

.subtitle {
  color: #aaa;
  margin-bottom: 40px;
}

/* Form */
.contact-form {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.input-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(55, 52, 52, 0.08);
  color: #0d0d0d;
  font-size: 14px;
}

textarea {
  height: 150px;
  resize: none;
  margin-bottom: 30px;
}

input::placeholder,
textarea::placeholder {
  color: #191818;
}

/* Button */
#contact button {
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: #aaa;
  box-shadow: 0 0 10px 2px #aaa;
}
#contact button:hover {
  background-color: #9f78a8;
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgb(206, 152, 206);
}

.footer {
  width: 80%;
  height: 100px;
  border-radius: 50px 50px 0 0;
  margin: auto;
  background-color: rgb(159, 152, 166);
}
/* ----------------------------------footer------------------------------- */
.email-icons {
  height: 60px;
  margin-left: 40%;
  border: 2px solid black;
  padding: 10px;
  border-radius: 50%;
  margin-top: 20px;
}
.watsapp-icons {
  height: 60px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 50%;
  margin-left: 100px;
}
/* ---------------responsive design for phone ---------------- */
@media (max-width:360px){

body{
  overflow-x: hidden;
  width: 360px;;

}
.header{
  width: 100%;
}

.navbar a{
  margin-bottom: 20px;

}
#home{      
  width: 90%;
  display: flex;
  flex-direction: column;
}
.home-content{
  margin-left:20%;
  margin-top: 60px;;
  margin-right: 0;
  width: 100%;;
}
.home-sci{
  margin-top: 0%;
  width: 100%;;
  
}
.textabout{
  margin-left: 20%;
}
#skill{
  width: 150%;
  
}
.container{
  width: 100%;
  margin: 0;
}

.container1{
  width:100%;
}
.header-ourServices{
  text-align: center;
  width: 100%;
  margin-left: 35%;
}
.container-1-2-3{
  display: flex;
  flex-direction: column;
  height: 140rem;
}
.container-ourservice1 , .container-ourservice2 , .container-ourservice3{
  width: 33em;
  overflow-x:hidden ;
} 

.latest-project{
  width: 100%;
  border: 1px solid black;
}
.container-latest_project{
  width:30rem;
}

#latest-project h1{
  padding-left:13rem ;
}
.lpc{
  width: 100%;
  margin-left: 5rem;
}

#contact{
  width: 90vh;
  height: 100vh;
  position: relative;
  top: 112rem;
}
.footer{
  position: relative;
  top: 113rem;
  width: 35rem;
}
.watsapp-icons{
  margin-left: 0;
}
}



/* --------------------------------responsive design inpad --------------------------- */

@media (min-width:768px) and (max-width:1028px){
  

body{
  overflow-x: hidden;
  width: 360px;;

}
.header{
  width: 100%;
}

.navbar a{
  margin-bottom: 20px;

}
#home{      
  width: 90%;
  display: flex;
  flex-direction: column;
}
.home-content{
  position: relative;
  right:70px;
}
.home-sci{
  margin-top: 0%;
  width: 100%;;
}
.home-sci img{
  margin-left: 70%;
  width: 20rem;
}
.textabout{
  margin-left: 20%;
}
#skill{
  width: 45rem;
  
}
.container{
  width: 100%;
  margin: 0;
}

.container1{
  width:100%;
}
.header-ourServices{
  text-align: center;
  width: 100%;
  margin-left: 60%;
  margin-bottom: -180px;
}
.container-1-2-3{
  display: flex;
  flex-direction: column;
  height: 140rem;
  margin-left: 8rem;
}
.container-ourservice1 , .container-ourservice2 , .container-ourservice3{
  width: 33em;
  overflow-x:hidden ;
} 

.latest-project{
  width: 100%;
  border: 1px solid black;
}
.container-latest_project{
  width:30rem;
  position: relative;
  left: 10rem;
}

#latest-project h1{
  padding-left:13rem ;
  position: relative;
  left: 8rem;;
}
.lpc{
  width: 30rem;

}

#contact{
  width: 90vh;
  height: 100vh;
  position: relative;
  top: 112rem;
  left: 7rem;
}
.footer{
  position: relative;
  top: 113rem;
  width: 49rem;
}
.watsapp-icons{
  margin-left: 0;
}
}

}